@use '../../sass/mixin.scss' as mix;
@use '../../sass/variable.scss' as var;

.wrapper {
	@include mix.flex();
	background: rgb(35, 28, 49);
	gap: 20px;
	flex-wrap: wrap;
	padding: 20px 0;
	align-items: start;
	justify-content: space-around;

}

.goods {
	@include mix.flex();
	flex-direction: column;
	width: 100%;
	min-width: 200px;
	max-width: 350px;
	justify-content: start;
	background-color: white;
	border-radius: 15px;
	border: 1px solid var.$violet;
	overflow: hidden;
	position: relative;
	
	a {
		width: 100%;
		padding: 10px;
		transition: all 0.3s ease-in;
		
		&:hover {
			transform: scale(1.01);
		}
	}

	img {
		width: 100%;
	}
	
	video {
		width: 100%;
	}

	button {
		width: 100%;
		background-color: var.$violet;
		color: white;
		font-size: var.$size-large;
		padding: 10px;
		border-radius: 10px;
		
		.buttonClick {
			background-color: green;
		}

	}

	p {
		font-size: var.$size-small;
		color: black;
		padding: 10px;

	}

	span {
		font-size: var.$size-large;
		color: black;
		width: 100%;
		padding: 10px;
	}
}

.descriptionGroup {
	width: 100%;
	background-color: var.$violet;
	@include mix.flex();
	flex-direction: column;
	border-radius: 15px;
	padding: 15px;
		
	h1 {
		color: white;
		font-size: var.$size-medium;
		border: 2px solid white;
		border-radius: 15px;
		padding: 5px;
	}
	
	p {
		font-size: var.$size-large;
		padding: 20px;
	}
}

.sucses {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	@include mix.flex();
	font-size: var.$size-medium;
	color: black;
	width: 100%;
	padding: 10px;
	background-color: green;
	color: white;
	text-align: center;
	z-index: 10;
}