$blue-dark: #231c31;
$violet: #9c50b8;
$dark-violet: rgb(67, 50, 95);
$size-medium: 26px;
$size-large: 20px;
$size-small: 16px;

// size width max 1100
$size1-medium: 22px;
$size1-large: 16px;
$size1-small: 12px;
