@use '../../../sass/mixin.scss' as mix;
@use '../../../sass/variable.scss' as var;

.wrapper {
	@include mix.flex();
	flex-direction: column;
	width: 100%;
	background-color: var.$blue-dark;
}

.rec {
	width: 100%;
	@include mix.flex();
	flex-direction: column;
}

.navigation {
	width: 100%;
	max-width: 250px;
	@include mix.flex();
	justify-content: space-between;

	span {
		font-size: var.$size-medium;
		color: #FFF;
	}

	button {
		width: 20px;
		height: 20px;
		background-color: var.$violet;
		@include mix.flex();
		transition: all 0.3s ease-in-out;
		border-radius: 4px;

		&:hover {
			transform: scale(1.1);
		}
	}

	.navRevrs {

		img {
			transform: rotate(180deg);

		}
	}

}

.itemList {
	@include mix.flex();
	gap: 20px;
}

.response {
	width: 100%;
	@include mix.flex();
	flex-direction: column;
	margin-top: 40px;

	h4 {
		color: white;
		font-size: var.$size-medium;
		align-self: start;
		margin-bottom: 20px;
	}
}


@media (max-width: 1100px) {
	.navigation {

		span {
			font-size: var.$size1-medium;
		}
	}

	.response {
		width: 100%;
		@include mix.flex();
		margin-top: 40px;

		h4 {
			color: white;
			font-size: var.$size1-medium;
			align-self: center;
			margin-bottom: 20px;
		}

		.responseList {
			@include mix.flex();
			flex-wrap: wrap;
			gap: 20px;
		}
	}
}