@use '../../../sass/mixin.scss' as mix;

.contact {
	@include mix.flex();
	justify-content: start;
	padding: 5px;
	height: 30px;
	margin: 0 auto 0;
	gap: 10px;
	background-color: rgb(67, 50, 95);
	padding: 0 20px;

	.contactItem {
		@include mix.flex();
		padding-right: 20px;
		transition: all 0.3s ease;
		
		img {
			height: 20px;
			border-radius: 6px;
		}

		.filterWhite {
			filter: invert(99%) sepia(0%) saturate(360%) hue-rotate(85deg) brightness(115%) contrast(100%);
		}

		span {
			font-size: 18px;
			padding-left: 10px;
			color: inherit;
		}

		&:hover {
			transform: scale(1.2);
			cursor: pointer;
			color: greenyellow;
			margin: 0 20px;
		}
	}
}