@use '../../../sass/mixin.scss' as mix;
@use '../../../sass/variable.scss' as var;

.contact {
	@include mix.flex();
	justify-content: start;
	height: 30px;
	margin: 0 auto 0;
	gap: 10px;
	background-color: rgb(67, 50, 95);
	padding: 5px 20px;
	border-radius: 10px;

}

.contactItem {
	@include mix.flex();
	padding-right: 20px;
	transition: all 0.3s ease;

	img {
		height: 20px;
		border-radius: 6px;
	}

	span {
		font-size: var.$size-small;
		padding-left: 10px;
		color: inherit;
	}

	&:hover {
		transform: scale(1.2);
		cursor: pointer;
		color: greenyellow;
		margin: 0 20px;
	}
}

.filterWhite {
	filter: invert(99%) sepia(0%) saturate(360%) hue-rotate(85deg) brightness(115%) contrast(100%);
}


@media (max-width: 1100px) {
	.contactItem {
		span {
				font-size: var.$size1-small;
			}
	}
}


@media (max-width: 750px) {

	.contact {
		flex-wrap: wrap;
		height: auto;

	}

	.contactItem {
		span {
				font-size: var.$size1-small;
			}
	}
}