@use '../../../../sass/mixin.scss' as mix;
@use '../../../../sass/variable.scss' as var;

.logo {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: #18d1d4;
	@include mix.flex();
	transition: all 0.3s ease-in-out;
	position: relative;

	&:hover {
		cursor: pointer;
		background-color: var.$violet;
	}

	img {
		height: 25px;
		width: 25px;
		width: auto;
	}
	
	@keyframes animationCountGods {
		0% {
			background-color: var.$violet;
			color: white;
		}
		100% {
			background-color: #18d1d4;
			color: black;
		}
		
	}
	
	.godsInBasket {
		@include mix.flex();
		animation-name: animationCountGods;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		position: absolute;
		right: -10px;
		top: -10px;
		background-color: var.$violet;
		border-radius: 50%;
		padding: 5px;
		font-size: 20px;
		font-weight: bold;
		width: 30px;
		height: 30px;
	}
}

.basketGoodsWrapper {
	@include mix.flex();
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	z-index: 20;
	align-items: start;

	.basketGoodsBackground {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 100%;
		z-index: 20;
		opacity: 0.8;
		background-color: var.$violet;
	}
}

.basketGoods {
	width: 100%;
	max-width: 600px;
	opacity: 1;
	min-height: 100%;
	background-color: var.$dark-violet;
	z-index: 21;
	border-radius: 20px;

	h3 {
		font-size: 27px;
		padding: 20px;
		text-align: center;
		position: relative;

		.close {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			height: 50%;
			
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.goodsList {
	@include mix.flex();
	flex-direction: column;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	padding: 20px;
	gap: 10px;
}

.goodsPurchase {
	padding: 20px;
	@include mix.flex();
	flex-direction: column;
	gap: 10px;

	.goodsPurchasePrice{
		@include mix.flex();
		justify-content: space-between;
		gap: 20px;

		p {
			color: white;
			font-size: var.$size-large;
			padding-top: 0;
		}
	}

	button {
		width: 100%;
		border-radius: 10px;
		background-color: var.$violet;

		a {
			width: 100%;
			padding: 10px;
			color: white;
			font-size: var.$size-large;
			transition: all 0.2s ease-in;
			display: block;

			&:hover {
				font-size: calc(var.$size-large + 3px);
			}
		}
	}
}