@use '../../../../sass/mixin.scss' as mix;
@use '../../../../sass/variable.scss' as var;

.form {
	@include mix.flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.formField {
	@include mix.flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	position: relative;

	label {
		align-self: start;
		font-size: var.$size-small;
	}

	input {
		font-size: var.$size-small;
		padding: 5px;
		border: 1px solid white;
		border-radius: 10px;
		width: 100%;
		color: white;
		background-color: var.$dark-violet;
	}

	select, option {
		font-size: var.$size-small;
		padding: 5px;
		border: 1px solid white;
		border-radius: 10px;
		width: 100%;
		color: white;
		background-color: var.$dark-violet;
	}
}

.load {
	width: 30px;
	height: 30px;
	animation-name: loadRotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	background-color: white;
	border-radius: 50%;

	@keyframes loadRotate {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}