@use '../../../../sass/mixin.scss' as mix;
@use '../../../../sass/variable.scss' as var;

.wrapper {
	@include mix.flex();
	flex-direction: column;
	width: 100%;
	background-color: var.$dark-violet;
	border-radius: 20px;
	margin-top: 20px;
	padding: 20px;
	gap: 20px;
}

.title {
	font-size: var.$size-large;
}

.itemlist {
	@include mix.flex();
	width: 100%;
	gap: 20px;
	flex-wrap: wrap;
}


@media (max-width: 1100px) {
	.title {
		font-size: var.$size1-large;
	}
}