@use '../../sass/mixin.scss' as mix;
@use '../../sass/variable.scss' as var;

.wraper {
	@include mix.flex();
	padding: 20px;
	gap: 10px;
	background-color: rgb(67, 50, 95);
	margin-top: 20px;
	border-radius: 15px;

}

.content {
	@include mix.flex();
	width: 100%;

	span {
		display: block;
		font-size: var.$size-small;
		color: white;
		text-align: center;
		padding: 10px;
	}

	&:before, &::after {
		content: '';
		height: 2px;
		width: 100%;
		display: block;
		background-color: white;
	}
}