@use '../../../sass/mixin.scss' as mix;
@use '../../../sass/variable.scss' as var;

.LogoWrapper {
	@include mix.flex();
	background: #231c31;
	justify-content: space-between;
}

.logo {
	@include mix.flex();
	justify-content: space-between;
	padding: 20px;
	width: 100%;
	width: 250px;

	h2 {
		font-weight: 300;
		font-size: var.$size-medium;
	}
}

.search {
	@include mix.flex();
	gap: 15px;
	padding: 20px;
}

.searchInput {
	position: relative;

	input {
		font-size: var.$size-large;
		padding: 15px 25px;
		padding-right: 65px;
		border-radius: 25px;
		background: white;
		color: black;
		width: 300px;
		height: 50px;
	}

	button {
		width: 50px;
		height: 50px;
		background: none;
		position: absolute;
		right: 0;

		img {
			height: 25px;
			width: 25px;
		}
	}
}


@media (max-width: 1100px) {
	.logo {

		h2 {
			font-size: var.$size1-medium;
		}
	}

	.searchInput {

		input {
			font-size: var.$size1-large;
		}
	}
}


@media (max-width: 750px) {
	.LogoWrapper {
		flex-direction: column;
	}
}