@use '../../../../sass/mixin.scss' as mix;
@use '../../../../sass/variable.scss' as var;

.wrapper {
	@include mix.flex();
	flex-direction: column;
	width: 100%;
	background-color: var.$dark-violet;
	border-radius: 20px;
	margin-top: 20px;
	padding: 20px;
	gap: 20px;

	h1 {
		font-size: 30px;
		align-self: start;
	}

	span {
		font-size: 18px;
		color: white;
		text-align: justify;
	}
}
